@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #2c3793;
  --color-secondary: #0052d1;
}

@layer base {
  @font-face {
    font-family: "UniNeue";
    src: url("/fonts/UniNeueBold.otf") format("opentype");
    font-weight: bold;
  }
  @font-face {
    font-family: "UniNeue";
    src: url("/fonts/UniNeueHeavy.otf") format("opentype");
    font-weight: 200;
  }
  @font-face {
    font-family: "UniNeue";
    src: url("/fonts/UniNeueRegular.otf") format("opentype");
    font-weight: normal;
  }
}

:root {
  --color-primary: #2c3793;
  --color-secondary: #0052d1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "UniNeue", sans-serif;
  box-sizing: border-box;
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 15px;
  animation-duration: 3s;
}
