---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Planos from '@/components/Planos';
import Cobertura from '@/components/Cobertura';
import Empresarial from "@/components/Empresarial"
import Faq from "@/components/Faq"
import Forms from "@/components/Forms"
import PlanosEmpresariais from '@/components/PlanosEmpresariais';
import Sobre from "@/components/sobre-nos"
import ProjetosSection from "@/components/Projetos"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>



	<div class="xl:px-20 px-8 max-lg:text-center">
       
        <Sobre />

    </div>

</Layout>
