---
import Layout from '../layouts/Layout.astro';
import JobApplicationForm from '../components/JobApplicationForm';
---

<Layout title="Trabalhe Conosco - NETCINTRA">
    <main class="min-h-screen py-20 max-lg:px-4">
        <JobApplicationForm client:load />
    </main>
</Layout> 